@import "tailwindcss";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "impact";
    src: url(/public/font/impact.ttf);
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: rgba(255, 255, 255, 0.6);
    --tertiary-color: #D1D1D1;
}

body,
html {
    background: url(/public/image/bg1.png) no-repeat center/cover;
    font-family: "impact";
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    border: none;
    outline: none;
}


.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.hdr-container {
    max-width: 1950px;
}

/* 
=================================================
Navbar
=================================================
*/

.navbar {
    background: url(/public/image/navbarBg.png) no-repeat center/cover;
}

.nav-item {
    margin-right: 25px;

}

.nav-item:last-child {
    margin-right: 0;
}

.nav-links {
    color: var(--secondary-color);
    letter-spacing: 0.1em;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.29rem);
}


.nav-links.active {
    color: var(--primary-color);
}


/* 
=================================================
Banner
=================================================
*/

.bnr-wrpr {
    padding: 100px 0;
}

.bnr-hdr {
    position: relative;
    margin: 50px 0;
}

.title1 {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;

}

.hdrTitle1 {
    font-size: clamp(3.5rem, 13.2vw, 15rem);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.8);
}

.hdrTitle2 {
    font-size: clamp(3rem, 12vw, 12.86rem);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 37, 226, 0.8);
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}

.profileImg {
    max-width: 300px;
    position: absolute;
    bottom: 80%;
    right: 30%;
    transform: translate(50%, 50%);

}


/* 
---------------------------------------
Button
---------------------------------------
*/

.btn {
    position: relative;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 15px 30px;
    border-radius: 16px;
    text-transform: capitalize;
    border: 1px solid #2600FF;
    /* background: linear-gradient(to bottom, rgba(255, 37, 226, 1) 49%, rgba(38, 0, 255, 1) 90%); */
    background: transparent;
    overflow: hidden;
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 30px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    /* box-shadow: inset 0px 4px 60px 10px #666666; */
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    z-index: 1;

    &:hover {
        color: var(--primary-color);
    }
}

.btn svg {
    position: absolute;
    width: 24px;
    fill: var(--secondary-color);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .arr-1 {
    right: 16px;
}

.btn .arr-2 {
    left: -25%;
}


.btn .text {
    position: relative;

    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(255, 37, 226, 0.6);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;


}

.btn:active {
    scale: 0.9;
}

.btn:hover::before {
    transform: translateX(0);
}


.btn:hover .arr-1 {
    right: -25%;
}

.btn:hover .arr-2 {
    left: 16px;
}

.btn:hover .text {
    transform: translateX(12px);
}

.btn:hover svg {
    fill: var(--primary-color);
}

/* 
=================================================
Footer
=================================================
*/


.footer-sec {
    padding: 100px 0;
}

.footer-wrpr {
    margin: 0 auto;
}

.contact-box {
    position: relative;
    max-width: 252px;
    margin: 0 auto 50px;
}



.hdr1 {
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(209, 209, 209, 0.7);

}

.hdr2 {
    font-size: 48px;
    color: var(--tertiary-color);
    letter-spacing: 0.1em;
    position: absolute;
    right: 7%;
    bottom: -7%;
}

.contact-list li {
    color: rgba(255, 255, 255, 0.7);
    gap: 10px;
}