@import "tailwindcss";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "impact";
    src: url(/public/font/impact.ttf);
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: rgba(255, 255, 255, 0.6);
    --tertiary-color: #D1D1D1;
}

body,
html {
    background: url(/public/image/bg1.png) no-repeat center/cover;
    font-family: "impact";
    overflow-x: hidden;
}

ul {
    list-style: none;
}



img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    border: none;
    outline: none;
}


.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.hdr-container {
    max-width: 1950px;
}

/* 
=================================================
Navbar
=================================================
*/

.navbar {
    background: url(/public/image/navbarBg.png) no-repeat center/cover;
}

.nav-item {
    margin-right: 25px;

}

.nav-item:last-child {
    margin-right: 0;
}

.nav-links {
    color: var(--secondary-color);
    letter-spacing: 0.1em;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.29rem);
}


.nav-links.active {
    color: var(--primary-color);
}


/* 
=================================================
Banner
=================================================
*/

.bnr-wrpr {
    padding: 100px 0;
}

.bnr-hdr {
    position: relative;
    margin: 50px 0;
}

.title1 {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;

}

.hdrTitle1 {
    font-size: clamp(3.5rem, 13.2vw, 15rem);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.8);
}

.hdrTitle2 {
    font-size: clamp(3rem, 12vw, 12.86rem);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 37, 226, 0.8);
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}

.profileImg {
    max-width: 300px;
    position: absolute;
    bottom: 80%;
    right: 30%;
    transform: translate(50%, 50%);

}


/* 
---------------------------------------
Button
---------------------------------------
*/

.btn {
    position: relative;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.29rem);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 15px 30px;
    border-radius: 16px;
    text-transform: capitalize;
    border: 1px solid #2600FF;
    /* background: linear-gradient(to bottom, rgba(255, 37, 226, 1) 49%, rgba(38, 0, 255, 1) 90%); */
    background: transparent;
    overflow: hidden;
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 30px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    /* box-shadow: inset 0px 4px 60px 10px #666666; */
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    z-index: 1;

    &:hover {
        color: var(--primary-color);
    }
}

.btn svg {
    position: absolute;
    width: 24px;
    fill: var(--secondary-color);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .arr-1 {
    right: 16px;
}

.btn .arr-2 {
    left: -25%;
}


.btn .text {
    position: relative;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(255, 37, 226, 0.6);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;


}

.btn:active {
    scale: 0.9;
}

.btn:hover::before {
    transform: translateX(0);
}


.btn:hover .arr-1 {
    right: -25%;
}

.btn:hover .arr-2 {
    left: 16px;
}

.btn:hover .text {
    transform: translateX(12px);
}

.btn:hover svg {
    fill: var(--primary-color);
}

/* 
=================================================
Footer
=================================================
*/


.footer-sec {
    padding: 100px 0;
}

.footer-wrpr {
    margin: 0 auto;
}

.contact-box {
    position: relative;
    max-width: 252px;
    margin: 0 auto 50px;
    text-align: center;
    text-transform: uppercase;
}



.hdr1 {
    font-size: clamp(2.3rem, 6vw, 4.29rem);
    font-weight: normal;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(209, 209, 209, 0.7);

}

.hdr2 {
    font-size: clamp(2rem, 5vw, 3.43rem);
    color: var(--tertiary-color);
    letter-spacing: 0.1em;
    position: absolute;
    right: 0;
    bottom: -7%;
}

.contact-list li {
    color: rgba(255, 255, 255, 0.7);
    gap: 10px;
    font-size: clamp(1rem, 0.95rem + 0.4vw, 1.43rem);
}


/* Social Media Start */



li::after {
    content: "";
    display: block;
    height: 10px;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

li:hover::after {
    opacity: 1;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: clamp(1rem, 0.9rem + 0.4vw, 1.1rem);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: -40px;
    background:
        linear-gradient(to right, #FF25E2 49%, #2600FF 90%),
        linear-gradient(to bottom, #666666 0%, #000000 100%);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid transparent;
    color: #4d4d4d;
    background:
        linear-gradient(180deg, #666666 0%, #000000 100%),
        linear-gradient(to right, #FF25E2 49%, #2600FF 90%);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;

}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a .filled,
.example-2 .icon-content a~.tooltip {
    background:
        linear-gradient(to bottom, #666666 0%, #000000 100%),
        linear-gradient(to right, #FF25E2 49%, #2600FF 90%);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}


/* Social Media End */

@media screen and (max-width:992px) {
    .bnr-wrpr {
        padding: 50px 0;
    }

    .profileImg {
        max-width: 238px;
    }

    .hdr2 {
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 50%);
    }
}

@media screen and (max-width:768px) {
    .bnr-wrpr {
        padding: 30px 0;
    }

    .profileImg {
        max-width: 164px;
    }
}

@media screen and (max-width:576px) {
    .bnr-wrpr {
        padding: 5px 0;
    }

    .profileImg {
        max-width: 110px;
    }

    .btn {
        padding: 10px 30px;
    }

    .contact-list>ul {
        flex-direction: column;
    }
}